.container-fluid{
	text-align: center;
	padding: 0;
	margin: 0;
}
.coctext
{	
	align-items: center;
  	justify-content: center;
  	color: grey;
  	font-family: 'Nunito', sans-serif;
  	font-size: 1.1em;
}
footer{
	background-color:#E8E7E7;
	text-align: right;
	padding-right: 20px; 
}

footer a{
	color: black;

}
footer a:hover{
	color: blue;
	text-decoration: none;
}