html,body{
	height: 100%;
}

#content{
background-image:linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)),url('images/real.jpg');
height: 100%;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
display: block;
overflow: hidden;
}
.description{
	color: white;
	text-align: left;
	font-size: 20px;
	padding:10px;
	padding-right: 15%; 
	font-family: 'Ubuntu Condensed', sans-serif;
}
h2{
	font-family: 'Anton', sans-serif;

}
footer{
	background-color: white;
	color: black;
}

footer a{
	text-decoration: none;
	color: black;
}
footer a:hover{
	text-decoration: none;
}